{% extends "reader/layout.html" %}

{% block body %}
<div class="page-header"><strong style="font-size:30px;">All Stories</strong>
  <span class="sorters">Sort by:&ensp;
    <a href="{% url 'index_sort' sort='name' current_count=Name_Count %}" id="name-sort">
      {% if Current_Sort == "name" and Name_Count == 1 %}
      ▾Title
      {% elif Current_Sort == "name" and Name_Count == 2 %}
      ▴Title
      {% else %}
      Title
      {% endif %}
    </a> <b>·</b>
    <a href="{% url 'index_sort' sort='rating' current_count=Rating_Count %}" id="rating-sort">
      {% if Current_Sort == "rating" and Rating_Count == 1 %}
      ▴Rating
      {% elif Current_Sort == "rating" and Rating_Count == 2 %}
      ▾Rating
      {% else %}
      Rating
      {% endif %}
    </a> <b>·</b>
    <a href="{% url 'index_sort' sort='reviews' current_count=Reviews_Count %}" id="reviews-sort">
      {% if Current_Sort == "reviews" and Reviews_Count == 1 %}
      ▴Reviews
      {% elif Current_Sort == "reviews" and Reviews_Count == 2 %}
      ▾Reviews
      {% else %}
      Reviews
      {% endif %}
    </a> <b>·</b>
    <a href="{% url 'index_sort' sort='date' current_count=Date_Count %}" id="date-sort">
      {% if Current_Sort == "date" and Date_Count == 1 %}
      ▴Date
      {% elif Current_Sort == "date" and Date_Count == 2 %}
      ▾Date
      {% else %}
      Date
      {% endif %}
    </a>
  </span>
</div>
<div id="outer-box">
  {% for story in All_Stories %}
    <div class="story-icon-box">
      <div class="alert alert-dark" role="alert">
        <img src="{{story.cover.url}}" class="story-icon-cover">
        <p class="story-icon-title-author"><strong>
          <a href="{% url 'story' id=story.story_folder_id %}">{{story.title}}</a> by
          <a href="{% url 'profile' id=story.author.id %}">{{story.author}}</a>
        </strong></p>
        <p class="story-icon-genre-rating">
            {% if story.avg_rating == 0.0 %}
            <span class="avg-rating-zero" id="avg_rating">
            {% elif story.avg_rating <= 2.0 %}
            <span class="avg-rating-lowest" id="avg_rating">
            {% elif story.avg_rating > 2.0 and story.avg_rating <= 4.0 %}
            <span class="avg-rating-low" id="avg_rating">
            {% elif story.avg_rating > 4.0 and story.avg_rating <= 6.0 %}
            <span class="avg-rating-mid" id="avg_rating">
            {% elif story.avg_rating > 6.0 and story.avg_rating <= 8.0 %}
            <span class="avg-rating-high" id="avg_rating">
            {% elif story.avg_rating >= 8.0 %}
            <span class="avg-rating-highest" id="avg_rating">
            {% endif %}
            {{story.avg_rating|floatformat:2}}★</span> ({{story.reviews.count}}
            {% if story.reviews.count == 1 %}
            Review)&nbsp;
            {% else %}
            Reviews)&nbsp;
            {% endif %}
            {% if story.tags == 'ROMANCE' %}
              <span class="genre-tag-romance" onclick="gotoCat(this)">
            {% elif story.tags == 'ADVENTURE' %}
              <span class="genre-tag-adventure" onclick="gotoCat(this)">
            {% elif story.tags == 'MYSTERY' %}
              <span class="genre-tag-mystery" onclick="gotoCat(this)">
            {% elif story.tags == 'SCI-FI' %}
              <span class="genre-tag-sci-fi" onclick="gotoCat(this)">
            {% elif story.tags == 'NON-FICTION' %}
              <span class="genre-tag-non-fiction" onclick="gotoCat(this)">
            {% elif story.tags == 'FANTASY' %}
              <span class="genre-tag-fantasy" onclick="gotoCat(this)">
            {% elif story.tags == 'COMEDY' %}
              <span class="genre-tag-comedy" onclick="gotoCat(this)">
            {% elif story.tags == 'DRAMA' %}
              <span class="genre-tag-drama" onclick="gotoCat(this)">
            {% elif story.tags == 'HORROR' %}
              <span class="genre-tag-horror" onclick="gotoCat(this)">
            {% elif story.tags == 'THRILLER' %}
              <span class="genre-tag-thriller" onclick="gotoCat(this)">
            {% elif story.tags == 'HISTORICAL' %}
              <span class="genre-tag-historical" onclick="gotoCat(this)">
            {% endif %}
                {{story.tags}}
              </span>
          <p class="story-icon-abstract">{{story.description}}</p>
          <p class="story-icon-datetime">Submitted: {{story.date_time_submitted}}</p>
        </div>
      </div>
      {% endfor %}
</div>
{% endblock %}
